<h1>$venue.getName()</h1>



<form action='/add_recipes' method='post'>
  <input id="venue_id" name="venue_id" type="hidden" value="$venue.getId()">
  <label for="band_id">Select a band:</label>
  <select id='band_id' name='band_id' type='text'>
  #foreach($band in $allBands)
    <option value="$band.getId()"> $band.getName() </option>
  #end
  </select>
  <button type="submit" class="btn btn-info">Add band to this venue</button>
</form>
